
//公用方法
//设置过度方法
@mixin transition($time){
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -ms-transition: all $time;
    -o-transition: all $time;
    transition: all $time;
}

//设置转换
@mixin transform($value){
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

//设置动画
@mixin keyframes( $name, $style, $start, $end ){    
    @-webkit-keyframes #{$name}{
        from{ #{$style}:$start;  }
        to{ #{$style}:$end;}
    }
    @-moz-keyframes #{$name}{
        from{ #{$style}:$start;  }
        to{ #{$style}:$end;}
    }
    @-ms-keyframes #{$name}{
        from{ #{$style}:$start;  }
        to{ #{$style}:$end;}
    }
    @-o-keyframes #{$name}{
        from{ #{$style}:$start;  }
        to{ #{$style}:$end;}
    }
    @keyframes #{$name}{
        from{ #{$style}:$start;  }
        to{ #{$style}:$end;}
    }
}

//引用动画
@mixin animate( $name, $time, $loop:1, $step:1 ){
    -webkit-animation: $name $time steps($step, start) $loop forwards;
    -moz-animation: $name $time steps($step, start) $loop forwards;
    -ms-animation: $name $time steps($step, start) $loop forwards;
    -o-animation: $name $time steps($step, start) $loop forwards;
    animation: $name $time steps($step, start) $loop forwards;
}

//阴影
@mixin shadow( $xPos, $yPos, $width, $color ){    
    -webkit-box-shadow: $xPos $yPos $width $color;
    -moz-box-shadow: $xPos $yPos $width $color;
    -ms-box-shadow: $xPos $yPos $width $color;
    -o-box-shadow: $xPos $yPos $width $color;
    box-shadow: $xPos $yPos $width $color;
}


//设置宽高
@mixin wh($width, $height){
	width: $width;
	height: $height; 
}


